{% extends 'layout.html' %}

{% block body %}


<div class="cart_section">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 offset-lg-1">
					<div class="cart_container">
						<div class="cart_title">Shopping Cart</div>
						<div class="cart_items">
                                {% for row in product %}
							<ul class="cart_list">

								<li class="cart_item clearfix">

									<div class="cart_item_image"><img src={{url_for('static', filename='images/'+row[2])}}
                                        id="image" /></div>
									<div class="cart_item_info d-flex flex-md-row flex-column justify-content-between">
										<div class="cart_item_name cart_info_col">
											<div class="cart_item_title">Name</div>
											<div class="cart_item_text"><a href="/productdescription?id_product={{row[0]}}">{{row[1]}}</a></div>
										</div>
										<div class="cart_item_color cart_info_col">
											<div class="cart_item_title">Color</div>
											<div class="cart_item_text"><span style="background-color:#999999;"></span>Silver</div>
										</div>
										<div class="cart_item_quantity cart_info_col">
											<div class="cart_item_title">Quantity</div>
											<div class="cart_item_text">{{quantity}}</div>
										</div>
										<div class="cart_item_price cart_info_col">
											<div class="cart_item_title">Price</div>
											<div class="cart_item_text">${{row[3]}}</div>
										</div>
										<div class="cart_item_total cart_info_col">
											<div class="cart_item_title">Action</div>
											<div class="cart_item_text"><a href="/removeFromCart?id_product={{row[0]}}">Remove</a></div>
										</div>
                                    </div>

                                </li>

                            </ul>
                            {% endfor %}
						</div>
						
						<!-- Order Total -->
						<div class="order_total">
							<div class="order_total_content text-md-right">
								<div class="order_total_title">Order Total:</div>
								<div class="order_total_amount">$ {{totalPrice}}</div>
							</div>
						</div>

						<div class="cart_buttons">
							<a href="/"><button type="button" class="button cart_button_clear">Continue Shopping</button></a>
							<a href="checkout"><button type="button" class="button cart_button_checkout">Checkout</button></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


<!-- 

<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Name Product</th>
            <th scope="col">Image Product</th>
            <th scope="col">Price</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        {% for row in product %}
        <tr>
            <td>{{row[1]}}</td>
            <td><img style="width: 70px; height: 70px;" src={{url_for('static', filename='images/'+row[2])}}
                id="image" /></td>
            <td>{{row[3]}} VND</td>
            <td><a href="/removeFromCart?id_product={{row[0]}}">Remove</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="subtotal"> <p>Total:</p> {{totalPrice}} VND</div>

 -->

{% endblock %}