{% extends 'layout.html' %}

{% block body %}

<style>
    .image-banner {
        position: absolute;
        right: 50px;
        z-index: 0;
    }

    .banner_content {
        position: absolute;
        top: 100px;
    }

    .banner_text {
        font-weight: 500;
        line-height: 1.166;
        color: #7599b2;
        text-transform: uppercase;
        letter-spacing: 0.038em;
    }

    .banner_price {
        font-size: 30px;
        color: #df3b3b;
    }

    .banner_price span {
        display: inline-block;
        position: relative;
        color: #7e8285;
        margin-right: 14px;
    }

    .banner_product_name {
        font-size: 18px;
        font-weight: 400;
        color: #000000;
        margin-top: 8px;
    }
</style>

<!-- SECTION CAROUSEL -->
<section id="Carousel" class="slide">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner" role="listbox"
            style=" width:100%; height: 500px !important; background-image:url(static/images/banner_background.jpg)">
            <div class="carousel-item active">
                <img src={{ url_for('static', filename='images/banner_product.png') }} class="d-block image-banner"
                    alt="1">
                <div class="col-lg-5 offset-lg-2">
                    <div class="banner_content">
                        <h1 class="banner_text">new era of smartphones</h1>
                        <div class="banner_price"><span>$530</span>$460</div>
                        <div class="banner_product_name">Apple Iphone 6s</div>
                        <div class="button banner_button"><a href="#">Shop Now</a></div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img src={{ url_for('static', filename='images/banner_2_product.png') }} class="d-block image-banner"
                    alt="2">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</section>
<!-- END SECTION CAROUSEL -->

<!-- SECTION BANNER -->
<section class="banner">
    <div class="card-group">
        <div class="card">
            <img class="card-img-top" src={{ url_for('static', filename='images/card-1.jpg') }} alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">DRESS UP YOUR PHONE</h5>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src={{ url_for('static', filename='images/card-2.jpg') }} alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">NOW $70 LESS</h5>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src={{ url_for('static', filename='images/card-3.jpg') }} alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">DUAL PROTECTION</h5>
            </div>
        </div>

    </div>
</section>
<!-- END SECTION BANNER -->


<!-- SECTION CATEGORY -->
<!-- Popular Categories -->

<div class="popular_categories">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="popular_categories_content">
                    <div class="popular_categories_title">Popular Categories</div>
                    <div class="popular_categories_slider_nav">
                        <div class="popular_categories_prev popular_categories_nav"><i
                                class="fas fa-angle-left ml-auto"></i></div>
                        <div class="popular_categories_next popular_categories_nav"><i
                                class="fas fa-angle-right ml-auto"></i></div>
                    </div>
                </div>
            </div>

            <!-- Popular Categories Slider -->

            <div class="col-lg-9">
                <div class="popular_categories_slider_container">
                    <div class="owl-carousel owl-theme popular_categories_slider">

                        <!-- Popular Categories Item -->
                        {% for row in myCategory %}
                        <div class="owl-item">
                            <div class="popular_category d-flex flex-column align-items-center justify-content-center">
                                <div class="popular_category_image"><img
                                        src={{ url_for('static', filename='images/' + row.2) }} alt=""></div>
                                <div class="popular_category_text">{{row.1}}</div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- END SECTION CATEGORY -->

<!-- SECTION NEW PRODUCT -->
<section class="product">
    <h2 class="title">PRODUCT</h2>
    <div class="table-responsive">
        {% for data in itemData %}
        <table class="table table-bordered product-card">
            <tr id="productImage" class="product-image">
                {% for row in data %}
                <td>
                    <img src={{ url_for('static', filename='images/' + row.2) }} id="itemImage" class="center" style="width: 70%;" />
                </td>
                {% endfor %}
            </tr>
            <tr id="productName" class="product-detail">
                {% for row in data %}
                <td>
                    <a href="/productdescription?id_product={{row[0]}}">{{row[1]}}</a>
                    <br>
                    <p>{{row[3]}} VND</p>
                </td>
                {% endfor %}
            </tr>
        </table>
        {% endfor %}
    </div>
</section>
<!-- END NEW PRODUCT -->



<!--Gallery produc section-->
<section id="gallery-product">
    <div class="flex-container">
        <a href=displaycategory?id_category=2 class="hover flex">
            <img src="/static/images/laptop-bg.jpg" alt="">
            <div class="pro-detail">
                <div class="detail">
                    <h4>LAPTOP</h4>
                    <h5>New Laptop Product</h5>
                </div>
            </div>
        </a>
        <a href=displaycategory?id_category=4 class="hover flex">
            <img src="/static/images/headphone-bg.jpg" alt="">
            <div class="pro-detail">
                <div class="detail">
                    <h4>HEADPHONE</h4>
                    <h5>New Headphone</h5>
                </div>
            </div>
        </a>
        <a href=displaycategory?id_category=1 class="hover flex">
            <img src="/static/images/phone-bg.jpg" alt="">
            <div class="pro-detail">
                <div class="detail">
                    <h4>SMARTPHONE</h4>
                    <h5>New Smartphone</h5>
                </div>
            </div>
        </a>
        <a href=displaycategory?id_category=5 class="hover flex">
            <img src="/static/images/speaker-bg.jpg" alt="">
            <div class="pro-detail">
                <div class="detail">
                    <h4>SPEAKER</h4>
                    <h5>New Speaker</h5>
                </div>
            </div>
        </a>
        <a href="#" class="hover flex">
            <p>+</p>
        </a>
    </div>
</section>
<!--End Gallery product section-->

<!--About Section-->

<section class="about-section">

    <div class="detail">
        <h2>ABOUT OUR COMPANY</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur suscipit minus nulla doloremque fugiat
            quos nostrum! Eos dolor maiores consequatur.</p>
        <a href="#" class="button-white">SHOW MORE</a>
    </div>
</section>

<!--End About Section-->

<div class="cash">
    <div class="row">
        <div class="col span-1-of-3">
            <i class="fas fa-shipping-fast"></i>
            <h5>FREE SHIP</h5>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing.</p>
        </div>
        <div class="col span-1-of-3">
            <i class="fas fa-money-check-alt"></i>
            <h5>CASH ON DELIVERY</h5>
            <p>Lorem ipsum dolor sit amet.</p>
        </div>
        <div class="col span-1-of-3">
            <i class="fas fa-gift"></i>
            <h5>BIG SALE</h5>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing.</p>
        </div>
    </div>
</div>


{% endblock %}