{% extends 'layout.html' %}

{% block body %}


<div class="cart_section">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 offset-lg-1">
					<div class="cart_container">
						<div class="cart_title">List Order</div>
						<div class="cart_items">
                                {% for row in products %}
							<ul class="cart_list">

								<li class="cart_item clearfix">

									<div class="cart_item_image"><img src={{url_for('static', filename='images/'+row[2])}}
                                        id="image" /></div>
									<div class="cart_item_info d-flex flex-md-row flex-column justify-content-between">
										<div class="cart_item_name cart_info_col">
											<div class="cart_item_title">Order</div>
											<div class="cart_item_text"><a href="/productdescription?id_product={{row[0]}}">#{{row[0]}}</a></div>
										</div>
										<div class="cart_item_price cart_info_col">
											<div class="cart_item_title">{{quantity}}</div>
											<div class="cart_item_text">${{totalPrice}}</div>
										</div>
										<!-- <div class="cart_item_total cart_info_col">
											<div class="cart_item_title">Action</div>
											<div class="cart_item_text"><a href="/removeFromCart?id_product={{row[0]}}">Remove</a></div>
										</div> -->
                                    </div>

                                </li>

                            </ul>
                            {% endfor %}
						</div>
					

						<div class="cart_buttons">
							<a href="/"><button type="button" class="button cart_button_clear">Continue Shopping</button></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}